<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css"></style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>


<div id="root">
    <p v-show="yes">This is text show only if yes is true</p>
    <p v-if="!yes">This text show only when upper p tag is hide</p>
    <button v-on:click="toggleYes" ref="btnToggle">Hide</button>
    <hr>
    <ul>
        <li v-for="item in myItems" v-text='item'></li>
    </ul>
    <hr>
    <ul>
        <li v-for="book in books" :key="book.id">
            <p>{{ book.id }}</p>
            <p><strong>{{ book.title }}</strong> Price {{ book.price }}</p>
            <p>Ganre: {{ book.genres.join(", ") }}</p>
        </li>
    </ul>
</div>

<script src="js.js"></script>
</body>
</html>
